@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "https://fonts.googleapis.com/css?family=Noto+Sans+Thai";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  font-family: "Montserrat", "Noto Sans Thai", "sans-serif";
}
.v-toolbar__content {
  background-size: cover;
}
@media only screen and (min-width: 992px) {
  .size-card {
    width: 88%;
  }
  .v-main__wrap {
    padding: 0.5rem 0.5rem 0;
    background-color: #eaeaea;
  }
}
.v-main__wrap {
  background-color: #eaeaea;
}
.v-list-item__title {
  font-size: 1rem !important;
}
.card-child {
  flex: 1 1 auto;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #ffffff;
  height: 100%;
}
.card-dashboard {
  transition: 0.2s;
}
.card-report:hover,
.card-dashboard:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.img-icon {
  max-width: 100%;
  height: auto;
}
.icon-show {
  width: 70px;
}
.icon-show {
  width: 70px;
}
.icon-table {
  width: 50px;
}
.img_section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.stackSheet {
  position: relative;
}
.stackSpark {
  position: absolute;
  top: 0;
  left: 0;
}

.v-input--selection-controls {
  margin-top: 0 !important;
  padding-top: 4px;
}
.vue-form-wizard .wizard-nav-pills {
  display: none !important;
}
.wizard-progress-with-circle {
  display: none !important;
}
.vue-form-wizard .wizard-tab-content {
  padding: 0px 0px 0px !important;
}
.v-navigation-drawer__content {
  background: url("https://image.smart-ai-api.com/public/image-storage/smartlotto/newdesign/BG.png");
}
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  border-top: 1px solid white !important;
  border-bottom: 1px solid white !important;
  padding: 2.5px 10px;
}
.v-list {
  padding: 0px !important;
}
.v-list-item {
  padding: 2.5px 10px !important;
}
.v-list .v-list-item--active {
  padding: 2.5px 10px;
  color: rgb(0, 0, 0);
}
.v-navigation-drawer .v-list:not(.v-select-list) {
  background: none !important;
}
.v-list-item--dense,
.v-list--dense .v-list-item {
  color: #ffffff;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.color_subtitle {
  color: black !important;
  background-color: #bdbdbd !important;
}
.color_winlose {
  background-color: #767676 !important;
}
table thead > tr > th,
table thead > tr > th > i {
  color: whitesmoke !important;
  text-align: center !important;
}

table thead > tr > th:nth-child(even),
table thead > tr > th:nth-child(even).active {
  background: #1a68d3;
}

table thead > tr > th:nth-child(odd),
table thead > tr > th:nth-child(odd).active {
  background: #1a68d3;
}

table tbody tr:nth-child(even) {
  background-color: #efefef;
}

table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
table.v-table tbody td:first-child,
table.v-table tbody td:not(:first-child),
table.v-table tbody th:first-child,
table.v-table tbody th:not(:first-child),
table.v-table thead td:first-child,
table.v-table thead td:not(:first-child),
table.v-table thead th:first-child,
table.v-table thead th:not(:first-child) {
  padding: 0 10px;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  font-size: 16px !important;
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  padding: 5px !important;
}
.v-list-item--dense .v-list-item__title,
.v-list-item--dense .v-list-item__subtitle,
.v-list--dense .v-list-item .v-list-item__title,
.v-list--dense .v-list-item .v-list-item__subtitle {
  line-height: 1.8rem !important;
}
.v-list-item--dense .v-list-item__content,
.v-list--dense .v-list-item .v-list-item__content {
  padding: 0px !important;
}
.commingsoon {
  border-radius: 20px;
  font-size: 10px;
  color: white;
  background: linear-gradient(45deg, #fb0000, rgba(79, 79, 79, 0.83922));
  position: absolute;
  padding: 5px;
  top: 9px;
  z-index: 1;
  left: 213px;
}
