@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "https://fonts.googleapis.com/css?family=Noto+Sans+Thai";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  font-family: "Montserrat", "Noto Sans Thai", "sans-serif";
}
.v-toolbar__content {
  background-size: cover;
}
@media only screen and (min-width: 992px) {
  .size-card {
    width: 88%;
  }
  .v-main__wrap {
    padding: 0.5rem 0.5rem 0;
    background-color: #eaeaea;
  }
}
.v-main__wrap {
  background-color: #eaeaea;
}
.v-list-item__title {
  font-size: 1rem !important;
}
.card-child {
  flex: 1 1 auto;
  padding: 1rem;
  border-radius: 6px;
  background-color: #ffffff;
  height: 100%;
}
.card-dashboard {
  transition: 0.2s;
}
.card-report:hover,
.card-dashboard:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.img-icon {
  max-width: 100%;
  height: auto;
}
.icon-show {
  width: 70px;
}
.img_section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.stackSheet {
  position: relative;
}
.stackSpark {
  position: absolute;
  top: 0;
  left: 0;
}

._redText{
  color: red;
}

._greenText{
  color: green;
}

.lottoSechdule{
  background-color: aqua;
  font-size: 10rem;
}